/*
Theme Name: Travel 
Theme URI: https://helloxpart.com/wp
Author: Hello Academy
Author URI: https://helloacademy.com/wp
Text Domain: travel 
Description:  This is travel theme for update theme Hello Academy Bangladesh.
Version: 1.1
Tags: one-column, two-columns, right-sidebar, accessibility-ready, custom-background, custom-colors, blog
License: Hello Academy
License URI: http://www.helloacademy.com


*/



.wp-caption{
	background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption-text{
	font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.sticky{background: #f6f6f6;}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.gallery-caption{color: #f6f6f6;font-size: 12px;margin: 0 0 12px;}

.bypostauthor{display: normal;}

.alignright{float:right; margin-left:10px;}

.alignleft {float:left; margin-right:10px;}

.aligncenter{margin: 0px 0px;}