    /*
    Flaticon icon font: Flaticon
    Creation date: 03/05/2017 09:12
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-internet:before { content: "\f100"; }
.flaticon-communication:before { content: "\f101"; }
.flaticon-idea-1:before { content: "\f102"; }
.flaticon-cloud:before { content: "\f103"; }
.flaticon-two-settings-cogwheels:before { content: "\f104"; }
.flaticon-black:before { content: "\f105"; }
.flaticon-graduate-certificate:before { content: "\f106"; }
.flaticon-cogwheel:before { content: "\f107"; }
.flaticon-laptop:before { content: "\f108"; }
.flaticon-coding:before { content: "\f109"; }
.flaticon-ps:before { content: "\f10a"; }
.flaticon-vector:before { content: "\f10b"; }
.flaticon-idea:before { content: "\f10c"; }
.flaticon-layers:before { content: "\f10d"; }
.flaticon-user-male-black-shape:before { content: "\f10e"; }
    
    $font-Flaticon-internet: "\f100";
    $font-Flaticon-communication: "\f101";
    $font-Flaticon-idea-1: "\f102";
    $font-Flaticon-cloud: "\f103";
    $font-Flaticon-two-settings-cogwheels: "\f104";
    $font-Flaticon-black: "\f105";
    $font-Flaticon-graduate-certificate: "\f106";
    $font-Flaticon-cogwheel: "\f107";
    $font-Flaticon-laptop: "\f108";
    $font-Flaticon-coding: "\f109";
    $font-Flaticon-ps: "\f10a";
    $font-Flaticon-vector: "\f10b";
    $font-Flaticon-idea: "\f10c";
    $font-Flaticon-layers: "\f10d";
    $font-Flaticon-user-male-black-shape: "\f10e";