	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/05/2017 09:12
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}

.flaticon-internet:before { content: "\f100"; }
.flaticon-communication:before { content: "\f101"; }
.flaticon-idea-1:before { content: "\f102"; }
.flaticon-cloud:before { content: "\f103"; }
.flaticon-two-settings-cogwheels:before { content: "\f104"; }
.flaticon-black:before { content: "\f105"; }
.flaticon-graduate-certificate:before { content: "\f106"; }
.flaticon-cogwheel:before { content: "\f107"; }
.flaticon-laptop:before { content: "\f108"; }
.flaticon-coding:before { content: "\f109"; }
.flaticon-ps:before { content: "\f10a"; }
.flaticon-vector:before { content: "\f10b"; }
.flaticon-idea:before { content: "\f10c"; }
.flaticon-layers:before { content: "\f10d"; }
.flaticon-user-male-black-shape:before { content: "\f10e"; }