/* ============== for gym =============== */

/*
  Flaticon icon font: Flaticon
  Creation date: 16/03/2017 10:00
  */

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/gym/Flaticon.eot");
  src: url("../fonts/gym/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/gym/Flaticon.woff") format("woff"),
       url("../fonts/gym/Flaticon.ttf") format("truetype"),
       url("../fonts/gym/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}


[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}

.flaticon-fitness-ball:before { content: "\f100"; }
.flaticon-medical-1:before { content: "\f101"; }
.flaticon-medical:before { content: "\f102"; }
.flaticon-dumbbell:before { content: "\f103"; }


/* ============== for portfolio =============== */

  /*
    Flaticon icon font: Flaticon
    Creation date: 03/05/2017 09:12
    */

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/pfolio/Flaticon.eot");
  src: url("../fonts/pfolio/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/pfolio/Flaticon.woff") format("woff"),
       url("../fonts/pfolio/Flaticon.ttf") format("truetype"),
       url("../fonts/pfolio/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}


[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}

.flaticon-internet:before { content: "\f100"; }
.flaticon-communication:before { content: "\f101"; }
.flaticon-idea-1:before { content: "\f102"; }
.flaticon-cloud:before { content: "\f103"; }
.flaticon-two-settings-cogwheels:before { content: "\f104"; }
.flaticon-black:before { content: "\f105"; }
.flaticon-graduate-certificate:before { content: "\f106"; }
.flaticon-cogwheel:before { content: "\f107"; }
.flaticon-laptop:before { content: "\f108"; }
.flaticon-coding:before { content: "\f109"; }
.flaticon-ps:before { content: "\f10a"; }
.flaticon-vector:before { content: "\f10b"; }
.flaticon-idea:before { content: "\f10c"; }
.flaticon-layers:before { content: "\f10d"; }
.flaticon-user-male-black-shape:before { content: "\f10e"; }

/* ============== for medical =============== */

  /*
    Flaticon icon font: Flaticon
    Creation date: 17/04/2017 12:31
    */

@font-face {
  font-family: "Flaticon";
  src: url("../../Assets/fonts/medical/Flaticon.eot");
  src: url("../../Assets/fonts/medical/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../../Assets/fonts/medical/Flaticon.woff") format("woff"),
       url("../../Assets/fonts/medical/Flaticon.ttf") format("truetype"),
       url("../../Assets/fonts/medical/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 0px;
}

.flaticon-knee-bones:before { content: "\f100"; }
.flaticon-molar-tooth:before { content: "\f101"; }
.flaticon-x-ray-of-bones:before { content: "\f102"; }
.flaticon-brain-and-head:before { content: "\f103"; }
.flaticon-kidney:before { content: "\f104"; }
.flaticon-droplet-of-water:before { content: "\f105"; }
.flaticon-operating-room:before { content: "\f106"; }
.flaticon-ambulance-alert:before { content: "\f107"; }
.flaticon-2-pills:before { content: "\f108"; }
.flaticon-first-aid-kit:before { content: "\f109"; }
.flaticon-doctor:before { content: "\f10a"; }
.flaticon-medical-doctor-specialist:before { content: "\f10b"; }