/* ==================================================
=	Responsive Mobile-first Media Queries	=
===================================================== */

/* --------------------------------------------- min1367px to max1700px+ ------------------------------------------------- */

@media (min-width : 1367px) and (max-width: 1680px){
	
	/* Newsletter Custom css */
	.tnp-field.tnp-field-button .tnp-submit {top: 20px!important;}
}


@media screen and (max-width : 1366px) {
	.photo-service-txt-1 p { max-width: 460px; }
	.photo-service-txt{ padding: 40px 0 10px 0px; }
	.photo-service-txt-2 { margin-top: 35px; }
	.photo-service-txt h2 { font-size: 68px; }

	.col-md-4:nth-child(even) .photo-blog-single .post-content {padding-bottom: 29%;}

	.my-videos-dimensions, .my-video-dimensions {
		height: 400px!important;
	}
	.travel-video-info{
   	margin-top: 80px;
	}
}

/* --------------------------------------------------------------- max1280px ---------------------- */
@media screen and (max-width : 1280px) {
	.architect-about-content .txt{ bottom:20%; left:-60.5%;} 
}

@media screen and (max-width : 1200px) {
	
	#yoga-slider-sec .carousel-caption { right: 0%;}

	.yoga-exp-content .single .icon{ left: 22%; }

	.yoga-event-form .form-group{ margin: 29px 18px 0px 0; }

	.yoga-classes-single:hover .ovrly .txt2{ transform: translateY(60px); }

	.yoga-trainer-single .overlay .ovrly-content { transform: translateY(100%); }

	.spa-service .overlay{ display: block; }
}

@media screen and (max-width : 1199px){
	.yoga-tabs.nav-tabs{ margin-top: 61px; }
	.yoga-tabs.nav-tabs>li{ margin-top: 15px; }
	.yoga-tabs.nav-tabs>li:first-child{ margin-left: 14.5px; }
	.yoga-tabs.nav-tabs>li:last-child{ margin-right: 14.5px; }

	.spa-news-post .post-item .post-image{
		max-width: 180px;
		max-height: 180px;
	}
	.spa-news-post .post-item .post-details {
   	padding: 58px 20px 55px 100px;
	}
	.travel-booking-form{
		padding: 83px 15px 40px 30px;
	}

}

/* --------------------------------------------------------------- max1024px ---------------------- */
@media screen and (max-width : 1024px) {
	.spa-about-box .ab-img { position: relative; bottom: -20px; }
}

/* --------------------------------------------------------------- max992px ---------------------- */
@media screen and (max-width : 992px) {
	.pfolio-about-img{
		margin: 50px auto 0 auto;
	}
	.default-menu.affix .navbar-brand {
		max-width: 100px;padding: 0; margin: 0 !important;
		margin-left: 15px !important;
	}
	.default-menu.affix-top .navbar-brand{
		padding: 0; margin: 0 !important;
		max-width: 110px;
	}



	nav.yoga-navbar.navbar.bootsnav.no-full .navbar-collapse{ 
		overflow: hidden !important;
		max-height: none;
	}
	nav.yoga-navbar.navbar.bootsnav .navbar-nav > li:last-child{ border-bottom: none; }
	nav.yoga-navbar.navbar.bootsnav .navbar-nav > li > a{ border-bottom: none;    padding: 12px 0; }
	nav.navbar.bootsnav.navbar-fixed .logo-display {
		display: block!important;
	}
	
	.yoga-single-right{ margin-left: 0; margin-top: 30px; }

	.yoga-exp-content .single .icon{     
		width: 120px;
		height: 120px;
		line-height: 120px;
		top: -19%;
		left: 22%;
  	}

  	.yoga-exp-content .single .icon1 .img{ width: 82px; } 
	.yoga-exp-content .single .icon2 .img{ width: 60px; } 
	.yoga-exp-content .single .icon3 .img{ width: 68px; }

	.yoga-consult-form .form-group{ margin-bottom: 20px; }



}
/* --------------------------------------------- min992px to max1100px+ ------------------------------------------------- */

@media (min-width : 992px) and (max-width: 1366px){
	.portfolio-edu-img{ margin-top: 0; }
	
	/* Newsletter Custom css */
	.tnp-field.tnp-field-button .tnp-submit {top: 20px!important;}
}
@media (min-width : 992px) and (max-width: 1141px){
	.portfolio-edu-text{ padding-left:  230px;}
	.portfolio-edu-text .edu-text-single{ padding-left: 10px; }
}

@media (min-width : 992px) and (max-width: 1200px){
	.portfolio-about-info li span{ width: 40%; }
	.portfolio-about-info .pfolio-btn{ margin-left: 0; }
	.portfolio-blog-single .post-content { margin-top: 20px; }

	.travel-booking-form label{ line-height: 20px; }
	.travel-booking-form .form-control{ 
		padding-left: 5px;
		margin-left: 5px;
	}
	
}
@media (min-width : 993px) and (max-width: 1200px){
	.photo-blog-single .post-content{ padding: 0; }
	.col-md-4:nth-child(odd) .photo-blog-single .post-content{
		padding: 0;padding-top: 20px;
	}
	#photography-blog{
		padding-left: 30px;
	}
}
/* -------------------------------------------------------- max991px -------------------- */
/* -------------------------------------------------------------------------------------- */
@media screen and (max-width : 991px) {
	.agency-about-single{  }

	.agency-counter-content .conuter-single { margin: 50px auto; }

	.agency-team-single { max-width: 270px; margin: 20px auto; }

	.agency-testimonial-title{ text-align: left; margin: 0 0 0 -20px;}
	#agency-owl-carousel .testimonial-single{ margin-top: 20px; }
	.agency-testimonial{ padding-left: 20px; padding-right: 20px; }


	.agency-contact-single{ 
		border-right: none;border-bottom: 1px solid #efefef;
		padding: 80px 0; margin-top: 0;
	}
	.agency-contact-content .col-md-3:last-child .agency-contact-single{ border-bottom: none; }

	.agency-nav-tab.nav-tabs>li>a { padding: 12px 30px; }

	
	/* ---------------------------------------------------------------------------*/

	.pfolio-about-img{ max-height: 860px; }

	.portfolio-edu-img{ margin: 70px auto 0 auto; }
	.portfolio-edu-text{ max-width: 950px; margin: 0 auto; padding: 60px; }
	
	.portfolio-blog-single { margin-top: 0px; }
	.portfolio-blog-single .post-content{ margin: 50px 0; }

	.portfolio-contact-content{  
		max-width: 900px;
		margin: 0 auto;
		margin-top: 100px;
		padding: 100px 30px 30px 30px;
	}
	.portfolio-contact-info{ margin-left: 0; margin-top: 50px;}

	/* ---------------------------------------------------------------------------*/

	#architect-counter.architect-secpd{ padding: 60px 0; }
	.architect-counter-single { padding: 60px 0; }

	#architect-owl-carousel .testimonial-single .author-txt:before { left: 3px;}

	.architect-footer-widget {
		max-width: 370px;
		margin: 60px auto;
	}
	.architect-contact-single.contact-info { margin-bottom: 60px; }

	/* ---------------------------------------------------------------------------*/

	.photo-about-info h3 { margin-left: 70px; }
	.photo-service-img {  
		max-width: 550px;
    	margin: 90px auto 0px 0;padding-left: 50px;
   }
   .photo-service-img h3{ 
		/*top: -40px;
		left: 50%;
		transform: rotate(0deg) translateX(-50%);*/
		left: -62px;
	}
	#photography-blog { padding-left: 40px; }
	.photo-blog-single{ margin-bottom: 50px; }
	.col-md-4:nth-child(even) .photo-blog-single {}
	.col-md-4:nth-child(even) .photo-blog-single .post-content{
		padding-left: 30px;
		padding-bottom: 60px;
	}

	.photo-footer .social-icons {
	    margin-top: 20px;
	}

	/* ------------------------------------------------------------------------------- */

	.default-about-image{ max-width: 400px; margin: 50px; }

	.default-counter{
   	background: url(../../assets/images/default/counter-bg-l.jpg) no-repeat center center / cover;
	}
	.default-contact-address .contact-address .address-single {
		margin: 0 auto;
	}

	.default-contact-form .contact-form{ margin-left: 15px; margin-right: 15px; }	
	
	.info { margin-top: 20px; }
	.sub-form{ margin-top: 20px; }

	.medical-about-content-r {
   	 margin-top: 30px;
	}
	.architect-about-content .img{ margin-top: 30px; }



	.yoga-classes-content .single:hover .ovrly .txt2{ padding: 0 0 0 10px; transform: translateY(35px); }

	.yoga-trainer-content .yoga-trainer-single{ margin-top: 30px; }
	.yoga-trainer-content .overlay .ovrly-content { transform: translateY(190%); }

	.yoga-video-single.left,
	.yoga-video-single.right{ margin-left: 0; }
	.yoga-video-single.right{ margin-top: 50px; }
	.yoga-pricing-single{ margin-bottom: 30px; }


	.spa-about-box .ab-img { max-width: 500px; margin-top: 30px; }
	
	.spa-schedule{  margin-bottom: 50px; }

	.spa-pricing .single{ margin-bottom: 40px; }

	.spa-copyright{ text-align: center; }
	.spa-social-icon {text-align: center; margin-top: 10px;}
	.spa-social-icon li:last-child a i{ margin-right: 0px; }

	#travelScrollUp{ bottom: 60px; }

	.restaurant-about-txt{ 
		max-width: 800px;
		margin: 70px auto 0 auto;
	}
	.restaurant-about-content .col-md-9.col-sm-12.nopadding{
		padding: 0 15px !important;
	}
	.restaurant-about-content .col-md-3.col-sm-12.nopadding{
		margin: auto !important;
		padding: 0 90px 0 15px !important;
	}

	.restaurant-connter-single{
		max-width: 400px;
		margin: 30px auto;

	}
	.restaurant-reservation-form {
	   margin-left: 0;
	}
	.restaurant-reservation-single,
	.restaurant-reservation-form{
		max-width: 600px;
		margin: 30px auto;
	}
	.restaurant-reservation-content .nopadding{
		margin: auto !important;
		padding: 0 15px !important;
	}
	.res-footer-widget .contact-form {
		top: 0px;
	}
	.res-footer-widget{
		max-width: 400px;
		margin: 30px auto; 
	}
	.fashion-about-img{
		margin-top: 50px;
	}
	.fashion-contact-img {
		bottom: 0;
		max-width: 664px;
	}

	.fashion-contact-info {
		left: 0px;
		max-width: 700px;
	}


} 
/* ------ end max991px ------- */
/* --------------------------------------------------------------- min992px ---------------------- */
@media (min-width : 992px) {
	#yoga-consult-sec .col-md-offset-2 {
	   margin-left: 12.666667%;
	}
	#yoga-consult-sec .col-md-offset-5 {
	   margin-left: 37.9%;
	}

}
@media screen and (min-width : 992px) {	
	.photo-about-info{
		margin-top: 268px;
		margin-left: 58px;
	}
	.photo-about-top h2{
		top: 14%;
		right: -75%;
	}


	.medical-service-content .col-md-4:nth-child(1) .medical-service-single{ }
	.medical-service-content .col-md-4:nth-child(2) .medical-service-single{ }
	.medical-service-content .col-md-4:nth-child(3) .medical-service-single{ border-right: none; }
	.medical-service-content .col-md-4:nth-child(4) .medical-service-single{ border-bottom: none; }
	.medical-service-content .col-md-4:nth-child(5) .medical-service-single{ border-bottom: none; }
	.medical-service-content .col-md-4:nth-child(6) .medical-service-single{ 
		border-bottom: none; border-right: none;
	}

	.contact-form [class*="col-md-"],
	.contact-form [class^="col-md-"]{
	    padding-left: 0;
	}
}
@media screen and (max-width : 855px) {
	.photo-about-top h2{
		position: relative;
		right: 0px;
		top: 0px;
	}
}
/* --------------------------------------------------------------- max768px ---------------------- */
@media screen and (max-width : 768px) {	
	.photography-portfolio.gallery_items{
		margin-left: 70px;
	}

	.yoga-exp-content .single {    
		max-width: 380px;
		margin: 0 auto;
		margin-bottom: 120px;
   }
	
	.yoga-exp-content .single .icon1 .img{ width: 92px; } 
	.yoga-exp-content .single .icon2 .img{ width: 70px; } 
	.yoga-exp-content .single .icon3 .img{ width: 78px; }

	.yoga-classes-content .single{ max-width: 370px; margin: 20px auto; }
	.yoga-classes-content .single:hover .ovrly .txt2{     padding: 0 0 0 20px; transform: translateY(120px);}

	.spa-pricing .single{ margin-top: 30px; }

	.info{margin-top:120px; margin-left: 0 !important;}

}
/* ------ end max768px ------- */

@media (min-width : 768px) and (max-width: 1200px){
	.architect-projects-single .txt h2{font-size: 40px;}
	.architect-projects-single .txt h3{font-size: 12px;}
	.architect-projects-single .txt h4{font-size: 10px;}
	.architect-projects-single .txt h5{font-size: 10px;}
	.architect-projects-single .txt { bottom: 20px; }
	.architect-projects-single hr { width: 190px;}
}

/* --------------------------------------------------------------- min768px to max991px ---------------------- */
@media (min-width : 768px) and (max-width: 991px){
	.architect-team-single .overlay-txt {
   	padding: 30px 0 30px 30px; 
   }
   .photography-portfolio.gallery_filter ul li a{
		font-size: 26px;
		margin-bottom: 14px;
   }
   h3.photography-portfolio-title{
		font-size: 20px;
		left: -110px;
    	top: 20%;
	}
	
	.default-menu .navbar-brand{  margin: 25px 0 0 0;padding: 0; }
	.default-menu.navbar-default .navbar-nav>li { padding-right: 6px; }
	.default-menu.navbar-default .navbar-nav>li>a { font-size: 10px; }

	/*.col-md-4:nth-child(2) .photo-blog-single {
		padding-top: 200px;
	}
	.col-md-4:nth-child(even) .photo-blog-single {
		margin-top: 250px;
	}
	.col-md-4:nth-child(odd) .photo-blog-single{

	}*/

	.medical-service-content .col-md-4:nth-child(2) .medical-service-single,
	.medical-service-content .col-md-4:nth-child(4) .medical-service-single,
	.medical-service-content .col-md-4:nth-child(6) .medical-service-single{ border-right: none; }
	.medical-service-content .col-md-4:nth-child(1) .medical-service-single,
	.medical-service-content .col-md-4:nth-child(3) .medical-service-single,
	.medical-service-content .col-md-4:nth-child(5) .medical-service-single{ border-right: 1px solid #dedede; }
	.medical-service-content .col-md-4:nth-child(5) .medical-service-single,
	.medical-service-content .col-md-4:nth-child(6) .medical-service-single{ border-bottom: none; }


	.yoga-classes-single:hover .ovrly .txt2 {
		transform: translateY(20px);
	}
	.yoga-classes-content .yoga-classes-single .ovrly .txt2 {
		padding: 0 0px 0 10px;
	}


	.travel-package-single span{
		font-size: 12px;
		font-weight: 500;
		width: 40%;
	}
	.travel-package-single p{
		font-size: 10px;
		font-weight: 400;
	}

	.navbar-nav>li>a { 
		font-size: 13px !important;
		padding: 10px; 
   }
	.restaurant-menu.navbar-default .navbar-nav>li>a{ font-size: 10px; }
	
	.info{margin-top:120px; margin-left: 0 !important;}
	
	

}

/* -------------------------------------------------------------------- min768px -------------------- */
@media (min-width : 768px){
	.portfolio-edu-text .edu-text-single{ border-right: 1px solid rgba(255, 255, 255, 0.45); }

	.portfolio-edu-text .col-md-6:nth-child(1) .edu-text-single{}
	.portfolio-edu-text .col-md-6:nth-child(3) .edu-text-single{ border-bottom: none; }
	.portfolio-edu-text .col-md-6:nth-child(2) .edu-text-single{ border-right: none; }
	.portfolio-edu-text .col-md-6:nth-child(4) .edu-text-single{ border: none; }

	/*------- Newsletter Custom Css  -----*/
.tnp-field.tnp-field-button .tnp-submit{ position: relative; left: 85px; top: 2px;}
.tnp-subscription .tnp-field .tnp-email{margin-top:20px; }
.tnp-subscription {margin: -2px 0!important;}
.tnp-subscription {max-width: 100% !important;}
}
/* -------------------------------------------------------------------- max767px -------------------- */
/* -------------------------------------------------------------------------------------------------- */
@media screen and (max-width : 767px) {
	.navbar{ padding: 10px 0; }
	.agency-menu.navbar-default .navbar-brand img {  margin-top: 10px; }

	.agency-menu.navbar-default .navbar-nav>li>a{
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.portfolio-edu-text .col-md-6:nth-child(4) .edu-text-single{ border-bottom: none; }

	.architect-about-content .txt{ position: relative; bottom: 0%; left: 0%;}
	.architect-about-content .txt h2{font-size:  4em;max-width: 420px;}

	.architect-menu.navbar-default .navbar-nav>li>a { padding: 10px 15px; }

	/*.default-menu.navbar-default{ background: rgba(255, 255, 255, 0.5); }*/
	.default-menu.affix-top .navbar-brand{ margin-top: 0; }
	.default-menu.affix .navbar-brand{
		width: 100px;
		margin-left: 15px !important;
	}
	.default-menu .navbar { padding: 0 0; }
	.default-menu.affix { padding: 10px 0;}

	.default-menu.affix-top .navbar-brand{
		margin-left: 15px !important;
	}


	.medical-about-top { top: -50px; }
	.medical-about-top .medical-about-top-single { padding: 20px 0; }    
	.medical-about-top .medical-about-top-single .icon{ font-size: 25px; }
	.medical-about-top .medical-about-top-single .txt{ font-size: 13px; line-height: 17px; font-weight: 400; }
	.medical-menu.navbar-default .navbar-nav>li>a:focus,
	.medical-menu.navbar-default .navbar-nav>li>a:hover{
		color: #2d91df;
	}
	.medical-service-content .col-md-4:nth-child(1) .medical-service-single,
	.medical-service-content .col-md-4:nth-child(2) .medical-service-single,
	.medical-service-content .col-md-4:nth-child(3) .medical-service-single,
	.medical-service-content .col-md-4:nth-child(4) .medical-service-single,
	.medical-service-content .col-md-4:nth-child(5) .medical-service-single,
	.medical-service-content .col-md-4:nth-child(6) .medical-service-single{ border-right: none; }
	.medical-service-content .col-md-4:nth-child(6) .medical-service-single{ border-bottom: none; }

	/* .category, .recent-post, .archive {
	   max-width: 70%;
	} */


	.yoga-exp-content .single .icon{ 
		width: 165px;
		height: 165px;
		line-height: 160px;
		top: -30%;
		left: 29%;
	}
	.yoga-trainer-content .yoga-trainer-single{ max-width: 350px; margin: 0 auto; margin-top: 30px;}
	.yoga-trainer-content .overlay .ovrly-content { transform: translateY(180%); }

	

	.yoga-post-item { max-width: 370px; margin: 0 auto; margin-bottom: 50px;}

	.yoga-pricing-single{ max-width: 370px; margin: 0 auto; margin-bottom: 50px; }
	.yoga-footer-menu ul li a{ padding: 0 4px; }


	.spa-navbar.navbar-default .navbar-nav:before{ display: none; }
	.spa-navbar.navbar.navbar-default { background: #faba69; }

	.spa-navbar.navbar-default .navbar-toggle { background: transparent; }
	.spa-navbar.navbar>.container .navbar-brand,
	.spa-navbar.navbar>.container-fluid .navbar-brand {
		margin-left: 15px;
		margin-top: -15px;
	}
	.spa-navbar.navbar-default .navbar-collapse {
		border-color: rgba(255, 255, 255, 0.2);
		box-shadow: none;
		text-align: center;
		border: none;
	}
	.spa-navbar.navbar-default .navbar-nav>li { padding: 10px 0; }
	.spa-navbar.navbar-default .navbar-nav>li>a{ color: #fff; }
	.spa-con-single{ margin-top: 40px; }
	
	.travel-contact-info{ margin-top: 40px;padding-right: 0px; }
	.travel-contact-info-single {
		max-width: 300px;
		margin: 0 auto;
		margin-top: 30px;
		text-align: center;
	}
	.travel-counter-item{
	   text-align: center;
	}
	.travel-counter-item .icn{
		margin-right: 0;
		margin: 0 auto 20px auto;
	}
	.travel-booking-form label{
		line-height: 20px;
	}
	.travel-booking-form .form-group{
		margin-bottom: 20px;
	}
	.travel-blog-single{ margin-top: 40px; }
	.travel-footer .social-icons{ text-align: left; margin-top: 10px;}
	.my-videos-dimensions, .my-video-dimensions{
		margin-top: 30px;
	}
	.restaurant-menu.affix {
   	background: rgba(0,0,0,0.71);
 	}
 	.restaurant-connter-single{
 		margin: 60px auto;
 	}
 	.fashion-contact-info {
		max-width: 600px;
	}
	.fashion-con-info-single{
		max-width: 350px;
		margin: 0 auto;
		padding: 30px 0;
		text-align: center;
	}

}
/* end max767px */
/* --------------------------------------------------------------- max640px ---------------------- */

@media screen and (max-width : 640px) {	
	.medical.nav-tabs>li>a .icon{ width: 40px; height: 40px; line-height: 40px;}
	.medical.nav-tabs>li>a .icon i:before{ font-size: 15px}
	.medical.nav-tabs>li>a h4{ font-size: 14px; }

	.medical-testimonial-single i{
		font-size: 50px;
		bottom: 15px;
	}
	.medical-testimonial-single .review p{
		font-weight: 500;
		padding: 0 15px;
	}
	.medical-testimonial-single {
		padding: 20px 0; 
	}
	.my-videos-dimensions, .my-video-dimensions {
		height: 250px!important;
	}
	.restaurant-about-txt-2{
		padding:40px 20px 90px 20px;
	}
	.restaurant-about-txt:after{
		display: none;
	}
	.restaurant-about-content .col-md-3.col-sm-12.nopadding{
		padding: 0 15px !important;
	}
	.restaurant-about-txt-2 h2{
		font-size: 50px;
	}
	.restaurant-about-txt-2 h3 {
		letter-spacing: 0;
		padding: 0 15px;
	}
	.restaurant-about-txt-2 .btns .restaurant-btn {
	   margin: 0 5px;
	}

	.fashion-contact-info {
		max-width: 400px;
	}
	
/*-------Logged in/out css  -----*/
.logged-in .travel-menu{margin-top: 0px;}

/*------- Newsletter Custom Css  -----*/
.tnp-field.tnp-field-button .tnp-submit{ position: relative; left: 85px; top: 2px;}
.tnp-subscription .tnp-field .tnp-email{margin-top:20px; }
.tnp-subscription {
    margin: -2px 0!important;
}
}

/* --------------------------------------------------------------- max480px ---------------------- */ 
@media screen and (max-width : 480px) {
	.copyright-txt li:after{ display: none; }
	
	.nav-tabs>li {
	    display: inline-block;
	    text-align: center;
	}
	.agency-nav-tab.nav-tabs {
		width: 70%;
		margin: 0 auto;
		margin-top: 60px;
	}
	.agency-nav-tab.nav-tabs>li>a:before{ display: none; }
	.agency-nav-tab.nav-tabs>li>a { padding: 12px 20px; }

	/* -------------------------------------------------------------  */
	.portfolio-about-info .pfolio-btn{
		margin-left: 0;
		margin-top: 20px;
	}
	.portfolio-about-info li span{
		display: block;
		width: 100%;
	}
	.portfolio-about-info .s-icon a i{
    	margin-right: 3px;	
	}
	.portfolio-about-info{
		padding: 70px 30px;
	}

	.portfolio-edu-text .edu-text-single{ padding: 45px 0; }
	.portfolio-edu-text .edu-text-single .txt{ padding-left: 10px; }

	.portfolio-blog-single .post-content .social-icons a i{ margin-right: 7px; }

	
	/*.architect-sec-title .box h3{ bottom: 30.5%; right: 10%;}*/
	.architect-about-content .txt h2{font-size:  3em;width: 100%;}

	.architect-blog-single .post-content .post-top { width: 90%;}
	.architect-blog-single .post-content .post-top,
	.architect-blog-single .post-content p,
	.architect-blog-single .post-content a.architect-btn{ margin-left: 15px; }

	.architect-sec-title .box h2{ font-size: 100px; line-height: 130px;}
	.architect-sec-title .box h3{ font-size: 50px; margin: -34px 0 0 13px;}
	.architect-sec-title .box{     
		width: 153px;
    	height: 180px; 
   }
   .architect-copyright p{ font-size: 12px; }
   #architectScrollUp{right: 10px;bottom: 47px;}
   .demo-footer-txt h2{ font-size: 26px; }



   .yoga-exp-content .single .icon{ left: 26%; }
	.yoga-classes-content .single:hover .ovrly .txt2{ transform: translateY(74px); }

	.yoga-social-icons a i{ margin: 0 4px;}



	.spa-news-post .post-item .post-image{
		max-width: 160px;
		max-height: 160px;
		border-width: 5px;
		top: -20%;
		transform: translateX(-45%);
		left: 50%;
	}
	.spa-news-post .post-item .post-details{
		padding: 120px 20px 55px 30px;
		margin-left: 0;
	}
	.spa-contact-box {
		margin-left: 30px;
	}
	.spa-news-post .post-item {
		margin: 120px auto 0 auto;
	}
/*-------Logged in/out css  -----*/
.logged-in .travel-menu{margin-top: 0px;}

/*-------password title  -----*/
.travel-blog-posts .post-password-required .post-content h2 a{font-size: 16px;}.travel-blog-posts .post-password-required h2 a{font-size: 16px;}

/*-------password input  -----*/
.travel-blog-posts input[type="password"]{padding: 6px 25px;}

/*-------Blog Sidebar  -----*/
.travel-sidebar{margin-left: 0;}

/*------- Author Profile  -----*/
.travel-blog-author-profiles a i {font-size: 24px;}
.travel-blog-author {padding: 50px 20px 50px 20px;}

/*------- Banner Title  -----*/
.travel-blog-top-content h1 {font-size: 24px;}

/*------- Newsletter Custom Css  -----*/
.tnp-field.tnp-field-button .tnp-submit{ position: relative; left: 85px; top: 2px;}
.tnp-subscription .tnp-field .tnp-email{margin-top:20px;}


}
/* --------------------------------------------------------------- max380px ---------------------- */ 
@media screen and (max-width : 380px) {
	.restaurant_food_item .col-xs-3,
	.restaurant_food_item .col-xs-6{ width: 100%; }
	.restaurant_food_item span {
	   margin-top: 20px;
	}
	
/*-------Logged in/out css  -----*/
.logged-in .travel-menu{margin-top: 0px;}

/*-------password title  -----*/
.travel-blog-posts .post-password-required .post-content h2 a{font-size: 16px;}

/*-------password input  -----*/
.travel-blog-posts input[type="password"]{padding: 6px 25px;}

/*-------Blog Sidebar  -----*/
.travel-sidebar{margin-left: 0;}

/*-------Blog Top Breadcrumb  -----*/
#blog-top .breadcrumb a {font-size: 12px;}

/*------- Author Profile  -----*/
.travel-blog-author-profiles a i {font-size: 24px;}
.travel-blog-author {padding: 50px 20px 50px 20px;}

/*------- comments -----*/
.blog_a_text {padding-left: 0px;padding-top: 15px;display: inline-block;}
.req_field{font-size: 10px;}

/*------- Banner Title  -----*/
.travel-blog-top-content h1 {font-size: 24px;}

/*------- Newsletter Custom Css  -----*/ 
.tnp-field.tnp-field-button .tnp-submit{ position: relative; left: 85px; top: 2px;}
.tnp-subscription .tnp-field .tnp-email{margin-top:20px;}


}
/* --------------------------------------------------------------- max320px ---------------------- */
@media screen and (max-width : 320px) {
	.forcefullwidth_wrapper_tp_banner{ display: none; }

	.yoga-exp-content .single .icon{ left: 18%; }
	.yoga-classes-content .single:hover .ovrly .txt2{ transform: translateY(34px); }

	.restaurant-about-txt-2 .btns .restaurant-btn {
	   margin: 0 1px;
	}
	
	/*-------Logged in/out css  -----*/
.logged-in .travel-menu{margin-top: 0px;}

/*-------password title  -----*/
.travel-blog-posts .post-password-required .post-content h2 a{font-size: 16px;}

/*-------Blog Sidebar  -----*/
.travel-sidebar{margin-left: 0;}

/*------- Author Profile  -----*/
.travel-blog-author-profiles a i {font-size: 24px;}
.travel-blog-author {padding: 50px 20px 50px 20px;}

/*------- Banner Title  -----*/
.travel-blog-top-content h1 {font-size: 24px;}

/*------- Newsletter Custom Css  -----*/
.tnp-field.tnp-field-button .tnp-submit{ position: relative; left: 85px; top: 2px;}
.tnp-subscription .tnp-field .tnp-email{margin-top:20px;}

}


/*--------------------------------------------------------------------------------------------------
//                                                  The End :)                         
---------------------------------------------------------------------------------------------------- */

