/*Import*/
/*----------------------------------
Project: Lucky Shop
Version: 1.1
Last change: 10/20/2016
Author:	7UP Theme
Author URI: https://7uptheme.com/
1.Home 1
2.Home 2
3.Home 3
4.Home 4
5.Home 5
6.Home 6
7.Home 7
8.Home 8
9.Home 9
10.Home 10
11.Home 11
12.Home 12
13.Home 13
14.Home 14
15.Home 15
16.Home 16
17.Home 17
18.Home 18
19.About
20.Contact
21.Menu Ontop
22.Preview	Menu
23.Shop
24.Product Details
-----------------------------------*/
/* General */
body {
  color: #555;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: inherit;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
.wrap {
  overflow: hidden;
  position: relative;
}
* {
  box-sizing: border-box;
  outline: none;
}
img {
  max-width: 100%;
}
a {
  color: #555;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
.container {
  max-width: 1200px;
  position: relative;
  width: 100%;
}
input,
input:focus,
input:hover {
  outline: none;
}
/*Begin Class*/
.border {
  border: 1px solid #e5e5e5;
}
.border-left {
  border-left: 1px solid #e5e5e5;
}
.border-right {
  border-right: 1px solid #e5e5e5;
}
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.transition {
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}
.radius {
  border-radius: 6px;
}
.white {
  color: #fff;
}
.black {
  color: #000;
}
.bg-white {
  background: #fff;
}
.list-none {
  list-style: none;
  margin: 0;
  padding: 0;
}
.title14,
.title12,
.title16,
.title18,
.title24,
.title30,
.title40,
.title60 {
  font-weight: 700;
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
}
.title12 {
  font-size: 12px;
}
.title16 {
  font-size: 16px;
}
.title18 {
  font-size: 18px;
}
.title24 {
  font-size: 24px;
}
.title30 {
  font-size: 30px;
}
.title40 {
  font-size: 40px;
}
.title60 {
  font-size: 60px;
}
.absolute,
.item-service7 .service-icon a::after,
.item-service7 .service-icon a img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.desc {
  color: #555;
  margin: 0;
  line-height: 24px;
}
div.table {
  display: table;
  margin: 0;
  width: 100%;
}
div.table > div {
  display: table-cell;
}
/*End Class*/

/*************************************************************************************************
									Product Detail				
**************************************************************************************************/
.content-product-detail.has-sidebar .product-gallery .bx-wrapper {
  float: none;
  margin: 0;
  padding-right: 0;
  position: relative;
  width: 100%;
}
.product-gallery .bx-wrapper {
  float: left;
  margin: 0;
  padding-right: 10px;
  position: relative;
  width: 81.4%;
}
.product-gallery .bx-viewport {
  background: #f5f5f5 none repeat scroll 0 0;
}
.product-gallery .bxslider img {
  height: auto;
  width: 100%;
}
.product-gallery .bx-prev {
  color: #a0a0a0;
  font-size: 30px;
  left: 0;
  margin-left: 25px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}
.product-gallery .bx-next {
  color: #a0a0a0;
  font-size: 30px;
  margin-right: 15px;
  margin-top: -10px;
  position: absolute;
  right: 10px;
  top: 50%;
}
.content-product-detail.has-sidebar .product-gallery #bx-pager {
  float: none;
  width: auto;
}
.product-gallery #bx-pager {
  float: left;
  width: 18.6%;
}
.product-gallery #bx-pager a.active::before {
  background: #1b1d1f none repeat scroll 0 0;
  content: "";
  height: 1px;
  left: -50%;
  position: absolute;
  top: 50%;
  transform: rotate(-51deg);
  -webkit-transform: rotate(-51deg);
  width: 200%;
}
.slider-tab #bx-pager a:hover::before,
#bx-pager a.active::before {
  opacity: 1;
}
.content-product-detail.has-sidebar .product-gallery #bx-pager a {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 6px;
  margin-top: 10px;
  max-width: 97px;
}
.content-product-detail.has-sidebar .product-gallery #bx-pager a:last-child {
  margin-right: 0;
}
.product-gallery #bx-pager a {
  background: #f5f5f5 none repeat scroll 0 0;
  display: block;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.product-gallery .share-social {
  text-align: center;
  margin-top: 15px;
}
.share-social {
  margin-top: 23px;
}
.product-gallery .share-social a {
  color: #fff;
  font-size: 18px;
  padding: 0 5px;
  display: block;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}
.product-gallery .share-social a.share-face {
  background: #4f649f;
}
.product-gallery .share-social a.share-twit {
  background: #58c5e5;
}
.product-gallery .share-social a.share-pint {
  background: #e10419;
}
.product-gallery .share-social a:hover {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}
